.jumbotron{
    background-color: darkslategrey;
    color: floralwhite;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: darkslategrey;
    color: floralwhite;
    margin-bottom: 0px;
    margin-top: 10px;
}
a:link{
    color: gold;
}
a:visited{
    color: goldenrod;
}
.btn{
    color: teal;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-masDetalles{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.imgBanner{
    margin-top: 10px;
    height: 300px;
}