@gris:#3b3937;
@grisOscuro: #21201e;
@Blanco:  #f5f3f0;
@amarillo: #f2f542;
@rojo: #e80911;
@verde: #0eed4a;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}
jumbotron {
    background-color: @gris;
    color: @Blanco;
    .margenes(50px, 0px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @grisOscuro;
    color:@Blanco;
    .margenes(10px, 0px)}
  
  a:link {
    color: gold; }
  
  a:visited {
    color: goldenrod; }
  
  .btn {
    color: teal; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px) }
  
  .btn-masDetalles {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .imgBanner {
    margin-top: 10px;
    height: 300px; }
  