.jumbotron {
  background-color: #3b3737;
  color: #f5f3f0;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #21201e;
  color: #f5f3f0;
  margin-top: 10px;
  margin-bottom: 0px; }

a:link {
  color: gold; }

a:visited {
  color: goldenrod; }

.btn {
  color: teal; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-masDetalles {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.imgBanner {
  margin-top: 10px;
  height: 300px; }
